__pycache__/
*.py[cod]
logs/*.jsonl
logs/*.json

# Environment variables
.env

# Databases
*.db
logs/honeypot.db

# Frontend
node_modules/
dist/

# Go Binaries
backend/honeypot-daemon
backend/honeypot-daemon.exe
*.exe
*.test
*.prof
